@font-face {
    font-family: "Ortica";
    font-weight: bold;
    src: url(../../static/fonts/ortica/Ortica-Bold.woff) format('woff');
    src: url(../../static/fonts/ortica/Ortica-Bold.woff2) format('woff2');}

@font-face {
    font-family: "Ortica";
    font-weight: normal;
    src: url(../../static/fonts/ortica/Ortica-Light.woff) format('woff');
    src: url(../../static/fonts/ortica/Ortica-Light.woff2) format('woff2');}