#footerBox {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    height: auto;
    z-index: 9999;}

#footerCred {
    position: relative;
    display: block;
    min-width: 100%;
    height: 7.5vh;
    background-color: white;
    border-top: 3px solid blue;
    font-size: 18pt;
    color: blue;
    font-family: "Formular", Arial, Helvetica, sans-serif;
    font-weight: normal;}

#footerCred p {
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);}