body {
    width: 100vw;
    max-width: 100%;}

@font-face {
        font-family: "Ortica";
        font-weight: bold;
        src: url(../../static/fonts/ortica/Ortica-Bold.woff) format('woff');
        src: url(../../static/fonts/ortica/Ortica-Bold.woff2) format('woff2');}
        
@font-face {
        font-family: "Formular";
        font-weight: normal;
        src: url(../../static/fonts/ortica/Ortica-Light.woff) format('woff');
        src: url(../../static/fonts/ortica/Ortica-Light.woff2) format('woff2');}
    
@font-face {
        font-family: "Formular";
        font-weight: normal;
        src: url(../../static/fonts/formular/formular-regular.woff);
        src: url(../../static/fonts/formular/formular-regular.woff2);}
    
 @font-face {
            font-family: "Formular";
            font-weight: bold;
            src: url(../../static/fonts/formular/formular-bold.woff);
            src: url(../../static/fonts/formular/formular-bold.woff2);}