* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box;}

@font-face {
    font-family: "Ortica";
    font-weight: bold;
    src: url(../../static/fonts/ortica/Ortica-Bold.woff) format('woff');
    src: url(../../static/fonts/ortica/Ortica-Bold.woff2) format('woff2');}
    
@font-face {
    font-family: "Ortica";
    font-weight: normal;
    src: url(../../static/fonts/ortica/Ortica-Light.woff) format('woff');
    src: url(../../static/fonts/ortica/Ortica-Light.woff2) format('woff2');}

@font-face {
    font-family: "Work";
    font-weight: normal;
    src: url(../../static/fonts/work/WorkSans-Regular.woff);
    src: url(../../static/fonts/work/WorkSans-Regular.woff2);}

    @font-face {
        font-family: "Work";
        font-weight: bold;
        src: url(../../static/fonts/work/WorkSans-Bold.woff);
        src: url(../../static/fonts/work/WorkSans-Bold.woff2);}

#headerWrap {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 7.5vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Ortica";
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 12pt;
    white-space: nowrap;}

#headerWrap li {
    position: relative;
    display: inline;
    list-style-type: none;
    display: inline;
    top: 0}

#headerWrap li:nth-child(2) {
    font-weight: bold;
    text-decoration: none !important;
    color: blue;}

    @media (min-aspect-ratio: 1/1) {
        #headerWrap {
            font-size: 18pt;
            display: inline-block;}
        #headerWrap li {
            top: 50%;
            transform: translateY(-50%);-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);}
        #headerWrap li:first-child {
            float: left;}
        #headerWrap li:nth-child(2) {
            position: absolute;
            left: 50%;
            transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
        #headerWrap li:last-child {
            float: right;}
    }