* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box;
    padding: 0;}

.headerBumper {
    position: relative;
    display: block;
    width: 100%;
    height: 7.5vh;}

#postWrap {
    position: absolute;
    display: block;
    height: auto;
    overflow: hidden;
    z-index: 999;}

#vertDiv {
    position: fixed;
    top: 0;
    width: 1px;
    height: 100%;
    left: 60%;}

#postContent {
    position: relative;
    display: block;
    float: left;
    top: 0; margin-top: 0;
    display: inline-block;
    width: 60%;
    height: auto;
    text-align: left;
    padding-left: 2.5%;
    padding-right: 2.5%;}

#textContent {
    position: relative;
    display: block;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;}

#artSum {
    font-family: "Ortica";
    font-size: 24pt;
    line-height: 120%;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;}

.titleDiv {
    width:100%;
    height: 1px;
    top: 0;
    background-color: lightgray;}

#postContent:not(#artsum) {
    font-family: "Formular", Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 1.5rem;}

#postNotes {
    position: fixed;
    float: right;
    top: 0; margin-top: 0;
    display: inline-block;
    width: 40%;
    height: 100%;
    overflow: scroll;
    text-align: left;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 7.5vh;
    font-family: "Formular", Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 1.5rem;}

#postNotes img {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 2.5vh;}

.noteNumb {
    position: relative;
    float: left;
    display: inline-block;
    width: 100%;
    color: blue;}

.noteTop {
    position: relative;
    display: block;
    margin-top: 2.5vh;}

.noteDesc,.noteLink {
    position: relative;
    float: left;
    display: inline-block;
    width: 100%;
    padding-bottom: 2.5%;}

.noteLink {
    text-decoration: none;
    color: blue;}

.contentNote {
    color: blue;}

li {
    list-style-type: none;
    top: 0;}

#subhead {
    font-size: 18pt;
    line-height: 120%;}

#contentFill {
    position: relative;
    height: 75vh;}

#vertDiv {
    background-color: orange;}

    @media (min-aspect-ratio: 1/1) {
    
        #artSum {
            font-size: 36pt;}
        #subhead {
            font-size: 24pt;}
        .noteNumb {
            width: 10%;}
        .noteDesc,.noteLink {
            width: 90%;}
        #postContent p:not(#artsum) {
            padding-left: 15vw;}
        .noteDesc {
            padding-right: 15vw;}
    }